/* Переменные */
:root {
    --basic-black: #262626;
    --bg-green: #D8FFCF;
    --subtitle-green: #96D487;
    --text-green: #99E387;
    --btn-green: 
        linear-gradient(180deg, rgba(255, 255, 255, 0.00) 79.5%, rgba(255, 255, 255, 0.08) 139.5%), 
        linear-gradient(272deg, #99DF89 -3.19%, rgba(165, 229, 150, 0.87) 40.72%, rgba(139, 216, 121, 0.87) 128.11%);
    --grey-text: #6D6D6D;
    --grey-title: #737373;
    --price-text: #424242;
}

/* базовые стили */
.d-none {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    padding: 0;
    margin: 0;
}

.page-header {
    padding: 27px 20px;
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.container {
    margin: 0 auto;
    max-width: 540px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-main__banner {
    padding-top: 100px;
}